@import './Preloader'
@import './Card'
@import './Filter'

html, body
  background #222

.loading
  padding 5px
  color #FFE

.count
  text-align center
  font-size 16px
  color #FFE

button.more
  display block
  margin 10px auto
